# General
*.log
*.tmp
*.bak
*.swp
*.swo
*.class
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Maven
target/
*.log

# Selenium WebDriver
*.db
*.jks
*.keystore
*.p12
images/

# Cucumber


# BrowserStack
*.browserstack
performance-report.csv
browserstack.err

# System files
.DS_Store
Thumbs.db
